<form class="w-72 bg-white p-5 rounded-sm h-fit shadow-xl" id="formulario">
  <header class="font-bold text-center mb-5 pb-2 border-b border-gray-100">
    <h2 class="font-semibold text-gray-800">Agregar Estudiantes</h2>
  </header>
  <div class="flex flex-col">
    <label for="nombre" class="font-semibold text-left">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Ej. Leandro" class="border-2 p-1 rounded-md" autofocus />
    <label id="errorNombre" class="hidden font-bold text-red-900 text-sm">No se aceptan numeros ni caracteres especiales</label>
  </div>
  <div class="flex flex-col">
    <label for="apellido" class="font-semibold text-left">Apellido</label>
    <input type="text" name="apellido" id="apellido" placeholder="Ej. Sanchez" class="border-2 p-1 rounded-md"
      autofocus />
    <label id="errorApellido" class="hidden font-bold text-red-900 text-sm">No se aceptan numeros ni caracteres especiales</label>
  </div>
  <div class="flex flex-col">
    <label for="curso" class="font-semibold text-left">Curso</label>
    <input type="text" name="curso" id="curso" placeholder="Ej. Bootcamp" class="border-2 p-1 rounded-md" autofocus />
    <label id="errorApellido" class="hidden font-bold text-red-900">No se aceptan caracteres especiales</label>
  </div>
  <div class="mt-4 flex flex-col">
    <label for="matricula" class="font-semibold text-left">Matricula</label>
    <input type="text" name="matricula" id="matricula" placeholder="Ej. 9999-9999" class="border-2 p-1 rounded-md" />
    <label id="errorMatricula" class="hidden font-bold text-red-900">La matricula no cumple con el formato
      especificado.</label>
  </div>
  <div class="mt-4 flex flex-col">
    <label for="calificacion" class="font-semibold text-left">Nota</label>
    <input type="number" name="nota" id="nota" placeholder="Ej. 100" class="border-2 p-1 rounded-md" />
    <label id="errorMatricula" class="hidden font-bold text-red-900">La nota no es valida.</label>
  </div>
  <div class="input-group flex justify-around mt-6">
    <button class="
            px-2
            py-3
            border
            rounded-md
            text-white
            bg-green-600
          " type="submit" id="btnSubmit">
      Enviar
    </button>
    <button class="px-2 py-3 border rounded-md text-white bg-red-600" type="reset">
      Limpiar
    </button>
  </div>
</form>
<script src="/js/registro-estudiante.js"></script>
{{!-- <div class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0">
  <div class="bg-white px-16 py-14 rounded-md text-center">
    <h1 class="text-xl mb-4 font-bold text-slate-500">Estudiante agregado exitosamente!</h1>
    <button class="bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold">Ok</button>
  </div>
</div> --}}
{{!-- <script src="js/registro-estudiante.js" type="js"></script> --}}